.loading-animation {
  text-align: center;
  font-family: system-ui, -apple-system, sans-serif;
  font-size: 1.2rem;
  color: #666;
  padding: 20px;
  animation: loading-animation-fade-in 1s;
}

.loading-text::after {
  content: "...";
  display: inline-block;
  animation: loading-dots 1.5s infinite;
}

@keyframes loading-dots {
  0% {
    content: "";
  }

  25% {
    content: ".";
  }

  50% {
    content: "..";
  }

  75% {
    content: "...";
  }
}

@keyframes loading-animation-fade-in {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}